@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
/* body {
	margin: 0;
	padding: 0;
} */
body {
	background-image: url(computers.jpg);
	background-size: 100vw 100vh;
	font-family: "Ubuntu", sans-serif;
	/* padding-top: 75%; */
}
.container {
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.content {
	color: #fff;
}
h1 {
	font-size: 3rem;
	margin: 0;
	text-align: center;
}
.quote {
	margin: 0.2em 0 2em;
	font-size: 1.2rem;
	text-align: center;
}

form {
	margin: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
}
form input {
	width: 45%;
	font-size: 1.2em;
	padding: 0.7em 0.5em;
	background-color: transparent;
	outline: none;
	color: #fff;
	border: 1px solid #003459;
}
form a {
	width: 50%;
}
form a button {
	width: 100%;
	font-size: 1.2rem;
	background-color: #adebff;
	padding: 0.7em 0.5em;
	border-radius: 5px;
	outline: none;
}

/* @media (max-width: 600px) {
	container {
		flex-direction: column;
	}
} */

/* .bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(computers.jpg);
	background-repeat: no-repeat;
	background-size: contain;
} */
